@font-face {
  font-family: Samim;
  src: url("./assets/fonts/Samim.woff") format("woff");
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  align-content: center;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition: opacity 400ms ease;
  text-align: center;
}

body {
  font-family: Samim;
  background: rgb(248, 249, 251);
  overflow-y: scroll;
}

.col-0 {
  width: 5%;
}

.col-1 {
  width: 10%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
[class*="col-"] {
  float: left;
  padding: 5px;
  height: 100%;
  text-align: center;
}
.row-1 {
  height: 40%;
  padding: 15px;
}

.row-2 {
  height: 50%;
  padding: 2%;
}

.row-3 {
  height: 75%;
  padding: 2%;
}
.wrapper {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.wrapper::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 5px;
  height: 100%;
}

/* animated button */
.btn {
  color: azure;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  padding: 15px;
  cursor: pointer;
}

.btn:hover {
  color: blueviolet;
}

.btn_buy {
  background-color: aliceblue;
  color: green;
  border-radius: 5px;
}
.btn_buy:hover {
  background-color: green;
  color: aliceblue;
}

#navbar {
  height: 60px;
  background-image: linear-gradient(to bottom, #333, #4a4545);
  padding-left: 25%;
  position: fixed;
}

#banner {
  height: 800px;
  background-image: url("assets/images/Banner.svg");
  background-size: cover;
}

#coinlist {
  height: 500px;
  background-image: linear-gradient(to bottom, #4a4545, #332430);
  padding-top: 60px;
  padding-bottom: 60px;
}

#convertbox {
  height: 600px;
  background-image: linear-gradient(to bottom, #332430, #572e4f);
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 5%;
  padding-bottom: 5%;
}

#footer {
  height: 300px;
  background-image: linear-gradient(to bottom, #572e4f, #000);
}

th,
td {
  border-bottom: 1px solid green;
  padding: 1px;
  color: aliceblue;
  text-align: center;
  width: 20%;
  height: 60px;
}

table {
  width: 100%;
  border-radius: 3px;
}

.table_link {
  color: green;
  font-size: large;
  text-decoration: underline;
  margin-top: 20px;
  cursor: pointer;
}

.convert-main {
  height: 100%;
  background-color: #333;
  width: 100%;
}

select {
  background-color: #525052;
  color: white;
  width: 100%;
  height: 50px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  size: 4;
}

option {
  border: 1px solid #381c33;
  text-align: center;
  padding: 5px;
}
option:hover {
  background-color: #381c33;
}

label {
  text-align: center;
  color: white;
  font-size: larger;
  height: 50px;
  padding-top: 10px !important;
  margin-top: 5px;
  float: left;
}

#coininput {
  height: 50px;
  font-size: larger;
}

.result {
  height: 50px;
  background-color: #525052;
  font-size: 20px;
}
.footerlink {
  display: block;
  margin: 30px;
  font-size: 20px;
  padding: 2px;
  color: white;
  background-image: linear-gradient(to bottom, #000, #572e4f);
  border-radius: 5px;
  height: 35px;
  text-decoration: none;
}

.footerlink:hover {
  background-image: linear-gradient(to bottom, #572e4f, #000);
}
